<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multimatic</title>
</head>

<body>

  <router-outlet></router-outlet>
  
  <div class="d-flex justify-content-center footer-div" style="background-color:#0b385b;">
    <div class="col-sm-4 d-flex justify-content-center align-content-center">
      <p style="padding-top:10px;font-size: small; color: white;">Developed By</p>
      <img class="footer-img" src="assets/images/global-presales-logo.png" alt="global presales logo" />
    </div>
  </div>
</body>

</html>